@font-face {
  font-family: 'RobotoRegular';
  font-path: '/assets/fonts/RobotoRegular/RobotoRegular';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBold';
  font-path: '/assets/fonts/RobotoBold/RobotoBold';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMedium';
  font-path: '/assets/fonts/RobotoMedium/RobotoMedium';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoLight';
  font-path: '/assets/fonts/RobotoLight/RobotoLight';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoItalic';
  font-path: '/assets/fonts/RobotoItalic/RobotoItalic';
  font-weight: normal;
  font-style: normal;
}